.star-rating {
    display: inline-block;
    font-size: 0;
    position: relative;
    width: 200px;
    height: 40px;
    }
    
    .star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    font-size: 40px;
    color: #f5c342;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    z-index: 2;
    cursor: pointer;
    }
    
    .star-rating input:before {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 40px;
    color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    }
    
    .star-rating input:checked ~ input:before {
    color: #f5c342;
    }