.card {
    width: 95%;
    margin: 3 auto;
  }
  
  .card .card-body {
    display: flex;
    justify-content: space-between;
  }
  
  .card .card-body .card-text {
    flex-grow: 1;
  }
  
  .delete-icon {
    cursor: pointer;
  }


  